doctype
html
	head
		include default/head.pug
		//- link(rel="stylesheet", href="bower/animate.css/animate.min.css")
		link(rel="stylesheet", href="css/admin/#{name}.css")
	body
		include default/navbar.pug
		include default/hero.pug
		main(role="main")
		include default/footer.pug
		include default/scripts.pug
		//- script(src="js/admin/#{name}.js")