doctype
html
	head
		include default/head.pug
		link(rel="stylesheet", href="css/#{name}.css")
	body
		include default/navigation.pug
		.container Conteudo
		include default/footer.pug
		include default/scripts.pug
		//-include default/scripts.pug
		//-script(src="js/#{name}.js")